.bestsellers {
    display: grid;
    padding: 60px 0;
    
    @media (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;
    }
}

.bestsellers__title {
    margin-bottom: 40px;

    font-size: 26px;
    font-weight: 700;
}

.bestsellers__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;

    @media (min-width: $tablet) {
        grid-area: 3/1/2/3;
    }

    @media (min-width: $desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bestsellers__item {
    justify-self: center;
    margin-bottom: 15px;
}

.bestsellers__item-link {

    &:hover > .bestsellers__name {
        color: $hover;
    }
}

.bestsellers__name {
    display: block;
    margin-bottom: 10px;

    font-weight: 500;

    transition: .2s;
}

.bestsellers__price {
    display: block;

    font-size: 14px;
    font-weight: 700;
}

.bestsellers__link {
    margin: 0 auto;
    font-weight: 500;

    border-bottom: 2px solid $dark;

    transition: .2s;

    &:hover {
        color: $hover;
        border-color: $hover;
    }

    @media (min-width: $tablet) {
        margin: 0 0 35px auto;
    }
}