.bestsellers {
    display: grid;
    padding: 60px 0;
    
    @media (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;
        padding: 92px 0 66px;
    }

    @media (min-width: $desktop) {
        padding: 126px 0 95px;
    }
}

.bestsellers__title {
    margin-bottom: 40px;

    font-size: 26px;
    font-weight: 700;

    @media (min-width: $tablet) {
        font-size: 28px;
        margin-bottom: 60px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 71px;
        font-size: 32px;
    }
}

.bestsellers__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11px 30px;
    margin-bottom: 16px;

    @media (min-width: $tablet) {
        grid-area: 3/1/2/3;
        gap: 30px;
    }

    @media (min-width: $desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bestsellers__item {
    justify-self: center;
    margin-bottom: 15px;
}

.bestsellers__item-link {

    &:hover > .bestsellers__name {
        color: $hover;
    }
}

.bestsellers__name {
    display: block;
    margin-top: 6px;
    margin-bottom: 2px;

    font-weight: 500;

    transition: .2s;

    @media (min-width: $tablet) {
        font-size: 18px;
        margin-top: 17px;
        margin-bottom: 8px;
    }

    @media (min-width: $desktop) {
        margin-top: 19px;
    }
}

.bestsellers__price {
    display: block;

    font-size: 14px;
    font-weight: 700;

    @media (min-width: $tablet) {
        font-size: 16px;
    }
}

.bestsellers__link {
    margin: 0 auto;
    font-weight: 500;

    border-bottom: 2px solid $dark;

    transition: .2s;

    &:hover {
        color: $hover;
        border-color: $hover;
    }

    @media (min-width: $tablet) {
        margin: -4px 6px 60px auto;
    }

    @media (min-width: $desktop) {
        font-size: 17px;
        margin-bottom: 70px;
    }
}