.catalog {
    display: grid;
    padding: 60px 0;

    @media (min-width: $tablet) {
        padding-top: 20px;
        padding-bottom: 100px;
    }
}

.catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
    margin-bottom: 50px;

    @media (min-width: $tablet) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.catalog__item {
    justify-self: center;
    transition: .2s;

    &:nth-child(3) {
        align-self: end;
    }
}

.catalog__item:nth-child(5) {
    grid-column: 1/-1;

    @media (min-width: $tablet) {
        grid-area: 4/2/2/-1;
    }
}

.catalog__name {
    display: block;

    font-weight: 500;
    transition: .2s;
}

.catalog__price {
    display: block;

    font-weight: 700;
    transition: .2s;
}

.catalog__link {
    display: inline-block;
    padding: 27px 47px;
    margin: 0 auto;

    font-weight: 700;
    color: #fff;

    background-color: #000;
    transition: .2s;

    &:hover {
        background-color: #fff;
        color: $hover;
    }

    @media (min-width: $tablet) {
        padding: 27px 61px;
    }
}

.catalog__item-link {

    &:hover > .catalog__name {
        color: $hover;
    }
}

.catalog__progress-bar {
    text-align: center;

    @media (min-width: $tablet) {
        font-size: 18px;
    }
}

.catalog__indicator-bar {
    width: 177px;
    height: 2px;
    margin: 15px auto 30px;

    background-color: $gray;

    @media (min-width: $tablet) {
        width: 206px;
        margin-bottom: 40px;
    }
}

.catalog__indicator {
    width: 20%;
    height: 2px;
    background-color: $dark;
}