.category {
    display: grid;
    padding: 60px 0;

    @media (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;
    }
}

.category__title {
    margin-bottom: 40px;

    font-size: 26px;
    font-weight: 700;
}

.category__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
    margin-bottom: 30px;

    @media (min-width: $tablet) {
        grid-area: 3/1/2/3;
    }

    @media (min-width: $desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.category__item {
    justify-self: center;
    transition: .2s;

    &:nth-child(3) {
        align-self: end;

        @media (min-width: $desktop) {
            align-self: start;
            grid-area: 2/4/1/5;
        }
    }
}

.category__image {
    @media (min-width: $tablet) {
        margin-bottom: 25px;
    }
}

.category__name {
    display: block;

    font-weight: 500;
    transition: .2s;
}

.category__link {
    margin: 0 auto;
    font-weight: 500;

    border-bottom: 2px solid $dark;

    transition: .2s;

    &:hover {
        color: $hover;
        border-color: $hover;
    }

    @media (min-width: $tablet) {
        margin: 0 0 35px auto;
    }
}

.category__item-link {

    &:hover > .category__name {
        color: $hover;
    }
}