.category {
    display: grid;
    padding: 60px 0;

    @media (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;
        padding-top: 102px;
        padding-bottom: 71px;
    }

    @media (min-width: $desktop) {
        padding-top: 129px;
        padding-bottom: 103px;
    }
}

.category__title {
    margin-bottom: 40px;

    font-size: 26px;
    font-weight: 700;

    @media (min-width: $tablet) {
        margin-bottom: 59px;
        font-size: 28px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 71px;
        font-size: 32px;
    }
}

.category__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
    margin-bottom: 37px;

    @media (min-width: $tablet) {
        grid-area: 3/1/2/3;
    }

    @media (min-width: $desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.category__item {
    justify-self: center;
    transition: .2s;

    &:nth-child(3) {
        align-self: end;

        @media (min-width: $desktop) {
            align-self: start;
            grid-area: 2/4/1/5;
        }
    }
}

.category__image {
    @media (min-width: $tablet) {
        margin-bottom: 12px;
    }
}

.category__name {
    display: block;
    margin-top: 6px;
    margin-bottom: -5px;

    font-weight: 500;
    transition: .2s;

    @media (min-width: $tablet) {
        margin-bottom: -12px;
        font-size: 18px;
    }
}

.category__link {
    margin: 0 auto;
    font-weight: 500;

    border-bottom: 2px solid $dark;

    transition: .2s;

    &:hover {
        color: $hover;
        border-color: $hover;
    }

    @media (min-width: $tablet) {
        margin: -4px 5px 60px auto;
        font-size: 18px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 70px;
    }
}

.category__item-link {

    &:hover > .category__name {
        color: $hover;
    }
}