.footer {
    padding: 50px 0;

    background-color: $dark;
}

.footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;

    @media (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        text-align: center;

        & .footer__item:first-child {
            width: 100%;
        }
    }
}

.footer__link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: .2s;

    &:hover {
        color: $hover;
    }

    &--big {
        font-size: 24px;
        font-weight: 900;
    }
}