.footer {
    padding: 50px 0;

    background-color: $dark;
}

.footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;
}

.footer__link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: .2s;

    &:hover {
        color: $hover;
    }
}

.footer__link--big {
    font-size: 24px;
    font-weight: 900;
}