.footer {
    padding: 50px 0;

    background-color: $dark;
}

.footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23px 30px;
    margin-bottom: 36px;

    @media (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        text-align: center;

        & .footer__item:first-child {
            width: 100%;
            margin-bottom: 10px;

            @media (min-width: $desktop) {
                margin-bottom: 5px;
            }
        }
    }

    @media (min-width: $desktop) {
        margin-bottom: 30px;
    }
}

.footer__link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: .2s;

    &:hover {
        color: $hover;
    }

    &--big {
        font-size: 24px;
        font-weight: 900;
    }
}

.footer__item {
    @media (min-width: $tablet) {
        margin: 0 3px;
    }
}