.intro__wrapper {
    background-color: $gray;
}

.intro {
    display: grid;
    padding-top: 35px;
    padding-bottom: 50px;

    @media (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    @media (min-width: $desktop) {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

.intro__image-wrapper {
    justify-self: center;
    margin-bottom: 50px;

    position: relative;
    &::before {
        content: "";
        width: 110px;
        height: 80px;

        position: absolute;
        top: -15px;
        left: -15px;

        background: repeating-linear-gradient(45deg, $dark, $dark 2px, transparent 2px, transparent 10px);

        @media (min-width: $tablet) {
            width: 141px;
            height: 104px;
        }

        @media (min-width: $desktop) {
            width: 232px;
            height: 176px;
            top: -50px;
            left: -50px;
        }
    }

    &::after {
        content: "";
        width: 110px;
        height: 80px;

        position: absolute;
        bottom: -15px;
        right: -15px;

        background: repeating-linear-gradient(-45deg, $dark, $dark 2px, transparent 2px, transparent 10px);

        @media (min-width: $tablet) {
            width: 141px;
            height: 104px;
        }

        @media (min-width: $desktop) {
            width: 232px;
            height: 176px;
            bottom: -50px;
            right: -50px;
        }
    }

    @media (min-width: $tablet) {
        margin-bottom: 0;
    }

    @media (min-width: $desktop) {
        margin-right: 150px;
    }
}

.intro__images {
    position: relative;
    z-index: 1;
}

.intro__text {
    text-align: center;

    @media (min-width: $tablet) {
        grid-area: 2/1/1/2;
        justify-self: end;
        align-self: end;

        text-align: left;
    }

    @media (min-width: $desktop) {
        justify-self: center;
        align-self: center;
    }
}

.intro__subtitle {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 400;
    color: #727A82;
    text-align: center;

    @media (min-width: $tablet) {
        text-align: left;
    }
}

.intro__title {
    margin-bottom: 40px;
    
    font-weight: 700;
    font-size: 86px;
    line-height: 86px;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $tablet) {
        margin-bottom: 60px;
    }
}

.intro__link {
    display: inline-block;
    padding: 27px 16px;

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #fff;

    background-color: #000;

    transition: .2s;

    &:hover {
        background-color: $light;
        color: $dark;
    }
}

.intro__links {
    display: none;

    @media (min-width: $tablet) {
        display: flex;
        align-items: center;
        grid-column: 1/-1;
    }

    @media (min-width: $desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -55px;
    }
}

.intro__button {
    margin-right: auto;

    & path {
        transition: .2s;
    }

    &:hover path {
        stroke: $hover;
    }

    @media (min-width: $desktop) {
        grid-area: 3/1/2/2;
    }
}

.intro__social {
    display: inline-block;
    margin-left: 30px;

    font-size: 14px;
    font-weight: 500;
    transition: .2s;

    &:hover {
        color: $hover;
    }

    &--f {
        @media (min-width: $desktop) {
            grid-area: 2/2/1/3;
            justify-self: end;
        }
    }

    &--i {
        @media (min-width: $desktop) {
            grid-area: 3/2/2/3;
            justify-self: end;
        }
    }
}