.nav {
    grid-area: 3/1/2/3;
    align-self: center;

    transition: .5s;

    &--dn {
        display: none;
    }
}

.nav__item {
    display: inline-block;
    margin-right: 20px;
}

.nav__link {
    transition: .2s;
    &:hover {
        color: $hover;
    }
}