.nav {
    grid-area: 3/1/2/3;
    align-self: center;

    transition: .5s;

    &--dn {
        display: none;
    }

    @media (min-width: $desktop) {
        grid-column: 1/2;
        margin-top: 220px;

        position: relative;
        z-index: 1;
    }
}

.nav__list {
    @media (min-width: $desktop) {
        display: flex;
        flex-direction: column;
    }
}

.nav__item {
    display: inline-block;
    margin-right: 20px;

    @media (min-width: $desktop) {
        margin-bottom: 35px;
    }
}

.nav__link {
    transition: .2s;
    &:hover {
        color: $hover;
    }
}