.slider {
    display: grid;
    padding: 12px 15px 35px;

    position: relative;

    @media (min-width: $tablet) {
        padding: 33px 0 0 0;
    }

    @media (min-width: $tablet) {
        padding-top: 51px;
    }
}

.slider__wrapper {
    @media (min-width: $tablet) {
        padding-right: 15px;
    }

    @media (min-width: $tablet) {
        padding-right: 45px;
    }
}

.slider__images {
    margin: 0 auto;
}

.slider__img {
    margin: 0 auto;
}

.slider__previews {
    display: none;
    @media (min-width: $tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 19px;
        margin-top: 18px;
    }

    @media (min-width: $desktop) {
        display: flex;
        justify-content: center;
    }
}

.slider__button {
    display: block;
    width: 10px;
    height: 18px;

    position: absolute;

    &:disabled path {
        stroke: $gray;
    }

    &:disabled:hover path {
        stroke: $gray;
    }

    &--prev {
        top: 140px;
        left: 0;

        transform: rotate(180deg);
    }

    &--next {
        top: 140px;
        right: -1px;
    }

    & path {
        transition: .2s;
    }

    &:hover path {
        stroke: $hover;
    }

    @media (min-width: $tablet) {
        display: none;
    }
}