.socials {
    padding-left: 6px;

    @media (min-width: $tablet) {
        text-align: center;
    }
}

.socials__link {
    display: inline-block;
    margin-right: 37px;

    & path {
        transition: .2s;
    }

    &:hover path {
        fill: $hover;
    }

    @media (min-width: $tablet) {
        margin: 0 16px;
    }
}