.user-block {
    grid-area: 3/3/2/4;
    align-self: center;
    justify-self: end;
    position: relative;

    &--top {
        grid-area: 2/3/1/4;
    }

    &--desktop {
        @media (min-width: $desktop) {
            display: flex;
            flex-direction: column;
            margin-top: 48px;

            position: relative;
            z-index: 1;
        }
    }

    @media (min-width: $tablet) {
        align-self: end;
    }

    @media (min-width: $desktop) {
        align-self: start;
    }
}

.user-block__search {
    display: none;
    padding: 3px;
    position: absolute;
    top: 20px;
    right: 0;

    border: 2px solid $dark;
    border-radius: 5px;

    outline: none;

    &:focus {
        border-color: $hover;
    }

    &--block {
        display: block;
    }
}

.user-block__basket {
    margin-left: 10px;

    &:hover path {
        stroke: $hover;
        transition: .2s;
    }

    &--desktop {
        @media (min-width: $desktop) {
            order: 1;
            margin: 0;
            margin-bottom: 30px;
        }
    }
}

.user-block__label {
    margin-right: 7px;

    transition: .2s;
    &:hover path,
    &--active path {
        stroke: $hover;
    }

    &--desktop {
        @media (min-width: $desktop) {
            order: 2;
        }
    }

    @media (min-width: $tablet) {
        margin-right: 20px;
    }

    @media (min-width: $desktop) {
        margin-right: 0;
    }
}